*{
    margin: 0px;
}
.banner{
    background-image: linear-gradient(rgba(0,0,0,0.75), rgba(0,0,0,0.75)), url(../images/home_bg.jpg);
    background-size: 100%;
    background-position: center;
    height: 100vh;
    width: 100%;
}
ul a{
    text-decoration: none;
    font-family: 'Puerto';
    color: #fff;
}
ul li{
    list-style: none;
    display: inline-block;
    margin: 50px 30px;
    position: relative;
}
ul li::after{
    content: '';
    height: 2px;
    background: aqua;
    width: 0;
    position: absolute;
    left: 0;
    bottom: 0;
    margin-bottom: -8px;
}
ul li:hover::after{
    width: 100%;
    transition: 0.5s;
}
.title {
    color: #fff;
    font-family: 'Hey August';
    position: absolute;
    /* width: 100%;
    top: 50%;
    transform: translateY(-50%);
    text-align: center; */
    font-size: 3ch;
}
.pr{
    border: 3px solid #fff;
    margin-left: 50px;
    padding: 50px 80px;
    margin-top: 80px;
}
.pr a{
    text-decoration: none;
    color: #fff;
}